# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives: **
- List popular languages for Data Science
- List the tasks that a data scientist needs to perform to build a model
- List the open-source tools used in data science
- Describe the relevant features of open-source tools
- List the commercial data science tools.

## Author
John Yau

Some of the popular languages that use are:
1. Python
2. R
3. SQL
4. Jave
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| ****************** |
| Jupyter Notebook   |
| Spyder             |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python.
This is a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
minutes = 200
hours=minutes/60
print(hours)

3.3333333333333335